# Supabase Config
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
# JWT Config
JWT_SECRET_KEY=
JWT_ALGORITHM=

# Email Config (Zoho Mail)  
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=

# Razorpay Config
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
